body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #61dafb;
}

.color-box {
  width: 125px;
  height: 125px;
  border: 2px solid #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  border-radius: 8px;
}

.color-history {
  list-style: none;
  padding: 0;
}

.color-history li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.color-tag {
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 10px;
  color: #000;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.color-picker {
  margin: 25px 0;
  cursor: pointer;
  height: 45px;
  width: 90px;
  border: none;
  outline: none;
  box-shadow: 0 4px 10px rgba(255, 252, 252, 0.55);
  border-radius: 5px;
}
